<%= form_for(@information) do |f| %>
  <% if @information.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@information.errors.count, "error") %> prohibited this information from being saved:</h2>

      <ul>
      <% @information.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="span5">
      <p>
        <b><%= f.label :empresa %></b>
        <%= f.text_field :empresa, class: 'span4' %>
      </p>
    </div>
    <div class="span3">
      <p>
        <b><%= f.label :cgc, "CGC" %></b>
        <%= f.text_field :cgc %>
      </p>
    </div>

    <div class="span5">
      <p>
        <b><%= f.label :municipio %></b>
        <%= f.text_field :municipio %>
      </p>
    </div>
    <div class="span3">
      <p>
        <b><%= f.label :estado %></b>
        <%= f.text_field :estado %>
      </p>
    </div>

    <div class="span2">
      <p>
        <b><%= f.label :telefone1, "Telefone 1" %></b>
        <%= f.text_field :telefone1, class: 'span2' %>
      </p>
    </div>
    <div class="span2">
      <p>
        <b><%= f.label :telefone2, "Telefone 2" %></b>
        <%= f.text_field :telefone2, class: 'span2' %>
      </p>
    </div>
    <div class="span2">
      <p>
        <b><%= f.label :fax %></b>
        <%= f.text_field :fax, class: 'span2' %>
      </p>
    </div>

    <div class="span5">
      <p>
        <b><%= f.label :email %></b>
        <%= f.email_field :email, class: 'span4' %>
      </p>
    </div>

    <div class="span5">
      <p>
        <b><%= f.label :ac, "A/C" %></b>
        <%= f.text_field :ac, class: 'span4' %>
      </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="span5">
      <p>
        <b><%= f.label :assunto %></b>
        <%= f.text_field :assunto, class: 'span4' %>
      </p>
    </div>

    <div class="span5">
      <p>
        <b><%= f.label :atividade %></b>
        <%= f.text_field :atividade, class: 'span4' %>
      </p>
    </div>

    <div class="span5">
      <p>
        <b><%= f.label :produto %></b>
        <%= f.text_field :produto, class: 'span4' %>
      </p>
    </div>

    <div class="span5">
      <p>
        <b><%= f.label :linha %></b>
        <%= f.text_field :linha, class: 'span4' %>
      </p>
    </div>

    <div class="span5">
      <p>
        <b><%= f.label :fonte %></b>
        <%= f.text_field :fonte, class: 'span4' %>
      </p>
    </div>
  </div>
  <hr>
  <div class="actions">
    <%= f.submit "Atualizar", class: 'btn' %>
  </div>
<% end %>
