<%= form_for(@information) do |f| %>
  <% if @information.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@information.errors.count, "error") %> prohibited this information from being saved:</h2>

      <ul>
      <% @information.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :empresa %><br />
    <%= f.text_field :empresa %>
  </div>
  <div class="field">
    <%= f.label :cgc %><br />
    <%= f.text_field :cgc %>
  </div>
  <div class="field">
    <%= f.label :municipio %><br />
    <%= f.text_field :municipio %>
  </div>
  <div class="field">
    <%= f.label :estado %><br />
    <%= f.text_field :estado %>
  </div>
  <div class="field">
    <%= f.label :telefone1 %><br />
    <%= f.text_field :telefone1 %>
  </div>
  <div class="field">
    <%= f.label :telefone2 %><br />
    <%= f.text_field :telefone2 %>
  </div>
  <div class="field">
    <%= f.label :fax %><br />
    <%= f.text_field :fax %>
  </div>
  <div class="field">
    <%= f.label :ac %><br />
    <%= f.text_field :ac %>
  </div>
  <div class="field">
    <%= f.label :assunto %><br />
    <%= f.text_field :assunto %>
  </div>
  <div class="field">
    <%= f.label :atividade %><br />
    <%= f.text_field :atividade %>
  </div>
  <div class="field">
    <%= f.label :produto %><br />
    <%= f.text_field :produto %>
  </div>
  <div class="field">
    <%= f.label :linha %><br />
    <%= f.text_field :linha %>
  </div>
  <div class="field">
    <%= f.label :fonte %><br />
    <%= f.text_field :fonte %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
