<p id="notice"><%= notice %></p>

<p>
  <b>Empresa:</b>
  <%= @information.empresa %>
</p>

<p>
  <b>CGC:</b>
  <%= @information.cgc %>
</p>

<p>
  <b>Email:</b>
  <%= @information.email %>
</p>

<p>
  <b>Municipio:</b>
  <%= @information.municipio %>
</p>

<p>
  <b>Estado:</b>
  <%= @information.estado %>
</p>

<p>
  <b>Telefone1:</b>
  <%= @information.telefone1 %>
</p>

<p>
  <b>Telefone2:</b>
  <%= @information.telefone2 %>
</p>

<p>
  <b>Fax:</b>
  <%= @information.fax %>
</p>

<p>
  <b>A/C:</b>
  <%= @information.ac %>
</p>

<p>
  <b>Assunto:</b>
  <%= @information.assunto %>
</p>

<p>
  <b>Atividade:</b>
  <%= @information.atividade %>
</p>

<p>
  <b>Produto:</b>
  <%= @information.produto %>
</p>

<p>
  <b>Linha:</b>
  <%= @information.linha %>
</p>

<p>
  <b>Fonte:</b>
  <%= @information.fonte %>
</p>


<%= link_to 'Edit', edit_information_path(@information) %> |
<%= link_to 'Back', information_index_path %>
